
 /* Compulsory CSS */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D9D9;
        font-family: "Junge", cursive;
        font-weight: 600;
        font-style: normal;
      }
      

.header, .footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
}

/* Custom Variables */

:root{

    --primary: #322C2B;
    --secondary: white;
    --main-bg-color: rgb(151, 8, 8);
    --alternative: #4D869C; 
    --mainBoxShadow: #F932A8;
    --awesome: #ffc0cb;
    --borderColor: rgb(0, 130, 74);
    --elementShadow: .2vw .3vw .2vw #FFEBB2;
    --mainBg:linear-gradient(to bottom, #4D869C, #ffc0cb);
    --bgImg: linear-gradient( to right, var(--awesome), var(--mainBg));
}


/* NavBar */

.nav {
    display: flex;
    justify-content: center;  
    align-items: center;    
     text-align: center;
     background: linear-gradient(to top, #4D869C, #ffc0cb)
    }

.nav a {
    margin: 0 45px;
    text-decoration: none;
    color: #f3f4f6;
}

.anchor{
    margin-left: 3.7em !important;
}


.nav-item {
    margin: 20px;
}

:is(.link, footer) {
    text-align: center;
    color: var(--secondary); 
}

img[alt='mainLogo'] {
    margin: 1px 11px 1px;
    width: 5rem;
    height: 5rem;   
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

:is(a, .link, li img) {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: larger;
    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
    }
}

/* Ends Here  */

/* Footer */
.footer{
    width: 100%;
        height:90px;
        text-align: center;
        background-color: #4D869C;
    }
    
/* Home Page */

.main-home {
    text-align: center;
    margin:12rem;
}

.cust-btn{
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 0.8rem;
margin: 30px;
width: 140px;
height: 50px;
border: 1px solid var(--primary);
border-radius: 15px;
    color: var(--secondary);
    background-color: var(--alternative);
    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
        background-color: var(--awesome);
    }
}


/* Background Video */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.cust-a {
 text-decoration: none;
text-align: center;
color: var(--primary);
}

.main-home h1 {
    font-size: 4rem;
    color: var(--primary);
}

.main-home p {
    font-size: 20px;
    color: var(--primary);
}
/* HomeStyling Ends here */

/* AboutStyling*/

#aboutContainer{
    background: linear-gradient(to bottom, #4D869C, #ffc0cb);
    text-align: center;
    width: 100%;
}

img[alt='aboutLogo'] {
    margin: 1px 11px 1px;
    width: 8.5rem;
    height: 8.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.main-about {
    margin-left: 0rem;
}

.about-h  {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
font-weight:900;
    font-size: large;
    padding: 20px;
    margin: 30px 50px;
}

.about-h2{
 font-family: "JetBrains Mono", monospace;
 font-style: normal;
font-size: 2rem;
    font-weight: 800;
    padding: 35px;

}

/* AboutStyling Ends here */

/* FeaturedStyling */

#featuredContainer{
    margin-top: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #4D869C, #ffc0cb)
}
.main-featured {

    display: flex;
    justify-content: space-around;
    align-items: center;
margin-bottom: 5rem;
    
}

.featured-h2{
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
   font-size: 2rem;
       font-weight: 800;
       padding: 50px;   
    text-align: center;
}

.featured-img {
    width: 13rem;
    height: 13rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100px; 
    border: var(--primary) 2px solid;
    transition: all .5s;
    
    &:hover {
        transform: scale(1.2);
    }
}


.featured-img, .featured-p {
    margin: 20px;
    text-align: center;
    font-weight: 600;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: larger;
}

/* FeaturedStyling Ends Here*/


/* Why Us Styling */
#whyUsContainer {

    background: linear-gradient(to bottom, #4D869C, #ffc0cb);
   height: auto;
   width: 100% !important;
}

.icon {
    background-color: transparent;
}


.usContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* margin: 2rem; */
  }

  .usSection {
    margin: 4rem;
    width: 50rem;
    border-radius: 10px;
    border: var(--primary) 2px solid;
    padding: 20px;
    display:flex; 
	flex-direction : column; 
	align-items : center; 
	justify-content : center; 
    font-weight: 600;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
	text-align : center; 
	gap :15px
}
.usSection:nth-child(1) {	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}
.usSection:nth-child(2) {	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}
.usSection:nth-child(3) {	background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}


.icon{
	width :100px ; height:100px
}

/* Why Us Styling Ends Here*/

.footer{
width: 100%;
    height:100%;
    text-align: center;
    background: linear-gradient(to bottom, #4D869C, #ffc0cb);
}

.f-text{

    margin-left: 0rem;

}

/*Media Queries*/
/* Add this at the end of your CSS file */

/* For tablets&phones */
@media (width < 999px) {


        .nav.active a {
display: inline-block;
padding: 50px;
margin: 2rem;
            text-align: center;

        }

    .main-home, .main-about.main {
        margin: 4rem;
        height: auto;
    }


    #bgVideo {
        position:absolute;
margin-bottom: -6rem;
        width: 100%;
        height: auto;
        object-fit:cover;
    }
    

    .main-featured, .usContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

    }

    #featuredContainer, #whyUsContainer{ 

        width: 60rem;
        height: auto;
    }

    .usSection {
        height: auto;
        width: 50%;
    }

    /*ABOUT PAGE MEDIA-Q*/

    #aboutPage {
        height: auto;
    }

    #aboutPage, #aboutPage h2 {
        font-size: 1rem; 
        text-align: center;
    }

    .about-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2rem !important;
    }

    .about-p {
        padding: 10px;
        width: 100%; 
        font-size: 0.8rem;
    }

    .about-header {
        font-size: 1.5rem; 
        padding: 35px; 
    }

    /*Product Section MQ*/


.sortBtn {
    margin-left:0rem ;
}

.searchTab {
    margin-left:15rem !important;
}

.spinner-border{

    margin-left: 22rem !important;
     
}

/*Admin Section MQ*/

.tableContainer {
    margin-left: 2rem !important;
    width: 100%; /* Make the table container take up the full width */
}

table {
    width: 100%; /* Make the table take up the full width of its container */
    table-layout: fixed; /* Use a fixed layout to prevent the table from overflowing its container */
}

th, td {
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    
}

.adminButtons {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
}

.btnSorting, .btnAddNewProducts {
    margin-bottom: 10px; /* Add space between buttons when stacked */
}

.card-img-top {
    width: 50px !important;
    height: 50px !important;
    margin-left: 2rem !important;
}
}








/*Home Page Finishes Here*/
/* .......................................................................................................................*/

/* About Section  */

#aboutPage {
    position: relative;
    height: 50rem;
}
 #aboutPage::before {
    content: "";
    background-image: url('https://joshua-langeveldt.github.io/images/images/Choco-A-Lot/bg-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1; /* Ensure the overlay is below the text */
}

 #aboutPage .about-p, #aboutPage h2 {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    font-weight: bolder;
}
.about-main{
margin-left: -3rem;
    text-align: center;

}


.about-p{
font-family:  "JetBrains Mono", monospace;
    margin: 9px 300px;
    padding: 25px;
}

.about-header {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
   font-size: 2rem;
  font-weight: bolder;
    padding: 70px;
    text-align: center;
    z-index: 2;
}


/* Testimonial Styling */

#testimonials { 
    background: linear-gradient(to top, #4D869C, #ffc0cb);
}

.customTesti{
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
   font-size: 2rem;
  font-weight: bolder;
    text-align: center;
    padding: 50px;

}
.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 50%;
    transition: all .5s;
}

.card-deck:hover {
    transform: scale(1.2);
    color: var(--primary);
}

.card {
    width: 500px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 0.3vw 0.3vw 0.3vw var(--primary);
    margin: 1rem;
    background: linear-gradient(to top, #4D869C, #ffc0cb);

}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
        text-align: center;
        padding: 10px;
}

.card-text {
    font-size: 1rem;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
        text-align: center;
}

/* Testimonial Image */
img[alt='Image1'] {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    border: 2px solid #FFEBB2;
    display: block;
    margin: 0 auto; 
}

img[alt='Image1']:hover {
    transform: scale(1.2);
    height: 100px;
    width: 100px;
}

/* ABOUT SECTION ENDS HERE .............................................................*/


/* Contact Section */

.contactContainer {
    padding: 60px 0;
    background: var(--alternative);
}



.containing {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.text-center{
    text-align: center;
}

.form-control {

    z-index: 2;
 font-weight: bolder;
}

#contact-section {
    position: relative;
    height: auto;
}
 #contact-section::before {
    content: "";
    background-image: url('https://joshua-langeveldt.github.io/images/images/Choco-A-Lot/bg-img-2.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1; 
}

 #contact-section .text-cust, #contact-section h2 {
    position: relative;
    z-index: 2; 
    font-weight: bolder;
}
.about-main{
margin-left: -3rem;
    text-align: center;

}


.text-cust{
font-family:  "JetBrains Mono", monospace;
    margin: 9px 300px;
    padding: 25px;
}

.custom {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
   font-size: 2rem;
  font-weight: bolder;
    padding: 50px;
    text-align: center;
    z-index: 2;
    background: linear-gradient(to top, #4D869C, #ffc0cb);
    border-radius: 20px;
    margin-bottom: -2.5rem;
}


/* Form Styles */

form {
    padding: 30px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3; /* brings the contact form to the front above the background image*/
    position: relative;
}


.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--alternative);
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn-primary {
    background: #4D869C;
    border: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.p-5{

    background: linear-gradient(to bottom, #4D869C, #ffc0cb);
    padding: 2rem;
}

.text-cust{
    color: var(--primary);
    margin: 10px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
        font-size: 1rem;

}

/* Footer styling */
.footerContainer {
    background: linear-gradient(to top, #4D869C, #ffc0cb);
    padding: 20px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
        font-size: 1rem;
        color: #000;
  }
  
  /* About me section */
  .footerContainer .about-me {
    float: left;
    width: 20%;
  }
  
  /* Features section */
  .footerContainer .features {
    float: left;
    width: 20%;
  }
  
  /* Follow me section */
  .footerContainer .follow-me {
    float: left;
    width: 20%;
  }
  
  /* Email me section */
  .footerContainer .email-me {
    float: right;
    width: 10%;
  }

  .subcription-form {
    background: linear-gradient(to right, #4D869C, #ffc0cb);
  }
  
  /* Email input field */
  .footerContainer .email-input {
    padding: 10px;
    margin-right: 10px;

  }
  
  /* Send button */
  .footerContainer .send-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
  }
  
  /* Clear floats */
  .footerContainer .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Copyright notice */
  .footerContainer .copyright {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
  }

  /*icons*/
  .nav-links{

    color: var(--primary);
    padding: 10px;
    text-decoration: none;
  }

  /* End Of Section  ...................................................................................................*/

  /* Product Section */

  .card {
    width: 26rem;
    height: 30rem;
    display: inline-block;
    margin: 2rem;
  }

  .card-img-top {
margin: 1rem 5.5rem ;
    width: 14rem;
    height: 14rem;
    border-radius: 20px;
  }

  .card-title {

    font-size: 1.2rem;
    font-weight: 500;
  }

  .card-text {
font-weight: 400;
    font-size: 0.9rem;
  }

  .btnAddToCart {
margin-left: 7.5rem;
background-color: #ffc0cb;
font-family: "JetBrains Mono", monospace;
font-style: normal;
}

.display-2 {

    margin: 1.9rem;
    font-size: 3.5rem;
    font-family: "JetBrains Mono", monospace;
}

.searchTab {
   
margin-left: 31rem;
}

.col {

margin-top: 4rem;
margin-bottom: 4rem;
}

.sortBtn {

    background-color: #ffc0cb;
    border: 2px solid #4D869C;
}


.spinner-border {
    animation: spin 2s linear infinite;
    margin: 1rem 43rem;
    color: #4D869C;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* End Of Section ..........................................................................................................*/


/* Admin Section */

/* Admin Section */

#adminSection {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
}

th, td {
    border: 2px solid black;
    padding: 0.6rem 2rem;
    margin: 0;
}

.tableContainer {
    width: 93vw;
    margin: 10rem 5rem;
    align-items: center;
}

.adminImages {
    width: 20%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.editBtn, .deleteBtn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.editBtn {
    background-color: #4CAF50;
}

.deleteBtn {
    background-color: #f44336;
}

.adminButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0rem -150px;
}

.btnSorting, .btnAddNewProducts {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: linear-gradient(to right, #4D869C, #ffc0cb);
}

/* Responsive styles for 720px width */
@media (max-width: 720px) {
   
}
